{{#section 'css'}}
	<style>
	.metric {
		height: 1000px;
	}
	.card-text {
		font-size: 50px;
	}
	</style>
{{/section}}

<h1>Analytics</h1>

<h3>Library Statistics</h3>
<div class="card-deck">
	<div class="card bg-dark col-sm-4 metric" ng-controller="distinctBookCountCtrl">
		<div class="card-body">
			<h4 class="card-title">Distinct Books<h4>
			<p class="card-text">\{{distinctBookTotal}}</p>
		</div>
	</div>

	<div class="card bg-dark col-sm-4 metric" ng-controller="bookCountCtrl">
		<div class="card-body">
			<h4 class="card-header">Total Books</h4>
			<p class="card-text">\{{bookTotal[0].total}}</p>
		</div>
	</div>
</div>

<div class="card bg-dark col-sm-4 metric">
	<div class="card-body" ng-controller="levelDistributionCtrl">
		<h4 class="card-title">Books by Level</h4>
		<span>Level 1: \{{levelDistribution[0].count}}</span><br>
		<span>Level 2: \{{levelDistribution[1].count}}</span><br>
		<span>Level 3: \{{levelDistribution[2].count}}</span><br>
		<span>Level 4: \{{levelDistribution[3].count}}</span><br>
		<span>Level 5: \{{levelDistribution[4].count}}</span><br>
		<span>Level 6: \{{levelDistribution[5].count}}</span><br>
		<span>Unleveled: \{{levelDistribution[6].count}}</span>
	</div>
</div>

<h3>Current Statistics</h3>
<div class="card bg-dark col-sm-4 metric" ng-controller="currentCheckoutCountCtrl">
	<div class="card-body">
		<h4 class="card-title">Current Checkouts</h4>
		<p class="card-text">\{{currentCheckoutTotal}}</p>
	</div>
</div>

<div class="card bg-dark col-sm-4 metric" >
	<div class="card-body">
		<h4 class="card-title">Current Returns</h4>
		<p class="card-text">{{currentReturnTotal}}</p>
	</div>
</div>

<h3>Lifetime Statistics</h3>
<div class="card bg-dark col-sm-4 metric" ng-controller="checkoutCountCtrl">
	<div class="card-body">
		<h4 class="card-title">Total Checkouts</h4>
		<p class="card-text">\{{checkoutTotal}}</p>
	</div>
</div>

<div class="card bg-dark col-sm-4 metric" >
	<div class="card-body">
		<h4 class="card-title">Total Returns</h4>
		<p class="card-text">{{returnTotal}}</p>
	</div>
</div>


<h3> ADD </h3>
Library StatsDONE
- Distinct BooksDONE
- Total BooksDONE
- Books by LevelDONE

Current StatsDONE
- CheckoutsDONE
- ReturnsTEMPLATED
- Popular checkouts

Lifetime StatsDONE
- CheckoutsDONE
- ReturnsTEMPLATED
- Popular checkouts



Other
Percent of Actual Patrons to Potential Patrons
Percent of Patrons by Type (student number year)
Average number of checkouts per student (median, mean)
Average duration of checkouts




