{{#section 'css'}}

		.entry {
			height: 180px;
			margin-bottom: 75px;
			position: relative;
			width: 500px;
		}
/*HEADER Container */
		.headerContainer {
			min-height:60px;
		}

		.lev6 {
			background-color: grey;
		}
		.lev5 {
			background-color: pink;
		}
		.lev4 {
			background-color: green;
		}
		.lev3 {
			background-color: blue;
		}
		.lev2 {
			background-color: yellow;
		}
		.lev1 {
			background-color: brown;
		}

		.bookHead {
			clear:both;
			width: 100%;
		}

		.buttons {
			clear:both;
		}

		.update {
			float: left;
		}
		.delete {
			float: right;
		}

		.title {
			float: left;
			font-size: 20px;
			font-weight: bold;
		}

		.author {
			float:left;
		}

		.entry ul {
			list-style: none;
			margin-left: 10px;
			padding: 0px;
		}

		.entry li {
			padding: 0px;
			margin: 0px;
		}

		.entry .label {
			font-weight: bold;
		}
/* BOOK INFORMATION Container */
		.infoContainer {
			min-height: 120px;
			background-color: #5B6269;
		}

		.spacer{
			clear: both;
			height 15px;
			width: 100%
		}
	/* Book Information 1 */
		.section1 {
			float: left;
			height: 100%;
			width: 50%;
		}
	/* Book Information 2 */
		.section2 {
			float: right;
			height: 100%;
			width: 50%;
		}
	/* Book Information 3 */
		.section3 {
			clear: both;
			background-color: #5B6269;
		}

{{/section}}

<h1>Book Inventory</h1>

	<form action="/book/add">
		<input type="submit" value="Add Book"/>
	</form>

	<form action="/book/list/download">
		<input type="submit" value="Download Overdue List"/>
	</form>

	<div class="filters">
		<h3>Filters</h3>
		Title
		<input type="text" ng-model="search.title"><br>

		Author
		<input type="text" ng-model="search.author"><br>

		Publisher
		<input type="text" ng-model="search.publisher"><br>

		Series
		<input type="text" ng-model="search.series"><br>

		ISBN
		<input type="text" ng-model="search.numbers.ISBN"><br>

		Level
		<input type="text" ng-model="search.level.ILER"><br>

		Headwords
		<input type="text" ng-model="search.attributes.headwords"><br>

		Type
		<input type="text" ng-model="search.attributes.type"><br>

		Genre
		<input type="text" ng-model="search.attributes.genre"><br>

		CD/DVD
		<input type="text" ng-model="search.attributes.CD"><br>

		Available Copies
		<input type="text" ng-model="search.availability.total"><br>
	</div>


	<div class="pageContent" ng-controller="bookListCtrl">
		<div ng-if="search.title || search.author || search.publisher || search.series || search.numbers.ISBN || search.level.ILER || search.attributes.headwords || search.attributes.type || search.attributes.genre || search.attributes.CD || search.availability.total" ng-repeat="bookEntry in bookEntries | filter:search | orderBy:'level.ILER'">
		<!--((search===null)?undefined:search):true-->
			<div class="entry lev\{{bookEntry.level.ILER}}">
				<div class="headerContainer lev\{{bookEntry.level.ILER}}">
					<div class="bookHead">
						<span class="title">\{{bookEntry.title}}/</span>
						<span class="author">\{{bookEntry.author}}</span>
					</div>
					<div class="buttons">
						<div class="update">
							<form class="form-horizontal" role="form" action="/book/entry" method="POST">
								<input type="hidden" name="_id" value=\{{bookEntry._id}}>
								<button class="updatebtn" type="submit">Update</button>
							</form>
						</div>
						<div class="delete">
							<form class="form-horizontal" role="form" action="/book/delete" method="POST" onsubmit="return confirm('Do you really want to delete this book')">
								<input type="hidden" name="_id" value=\{{bookEntry._id}}>
								<button class="deletebtn" type="submit">Delete</button>
							</form>
						</div>
					</div>
				</div>
				<div class="infoContainer">
					<div class="spacer"> </div>
					<div class="section1">
						<ul>
							<li><span class="label">Publisher: </span>\{{bookEntry.publisher}}</li>
							<li><span class="label">Series: </span>\{{bookEntry.series}}</li>
							<li><span class="label">ISBN: </span>\{{bookEntry.numbers.ISBN}}</li>
						</ul>
					</div>
					<div class="section2">
						<ul>
							<li><span class="label">Level: </span>\{{bookEntry.level.ILER}}</li>
							<li><span class="label">Headwords: </span>\{{bookEntry.attributes.headwords}}</li>
							<li><span class="label">Type: </span>\{{bookEntry.attributes.type}}</li>
							<li><span class="label">Genre: </span>\{{bookEntry.attributes.genre}}</li>
							<li><span class="label">CD: </span>\{{bookEntry.attributes.CD}}</li>
						</ul>
					</div>
					<div class="section3">
						<span class="label">Copies: </span>\{{bookEntry.numbers.book}}
						<span class="label">Available Copies: </span>\{{bookEntry.availability.total}}
					</div>
				</div>
			</div>
		</div>
	</div>



{{#section 'jcode'}}
/*
	$(".delete").click(function() {
		var entry = $(this).val()
		alert(entry)
		$.ajax({
			url: "/book/delete",
			type: "POST",
			dataType: "json",
			contentType: "application/json; charset=UTF-8",
			data: JSON.stringify({_id: entry})
		}).done(function() {
			location.reload();
		}).fail(function() {
			alert("FAIL")
		})
	})
*/
{{/section}}