{{#section 'css'}}

		.entry {
			height: 150px;
			margin-top: 75px;
			background-color:black;
			position: relative;
		}

		.headerContainer {
			background-color: white;
			height:30px;
		}

		.bookHead {
			float: left;
		}

		.buttons {
			float: right;
		}

		.title {
			background-color: green;
			float: left;
			font-size: 20px;
			font-weight: bold;

			height:
		}

		.author {
			background-color:grey;
			float:left;
		}

		.entry li {
			padding: 0px;
			margin: 0px;
		}

		.entry .label {
			font-weight: bold;
		}

		.infoContainer {
			height: 120px;
			width: 500px
			background-color: red;
		}

		.spacer{
			clear: both;
			height 15px;
			width: 100%
		}
		.section1 {
			float: left;
			background-color: purple;
			height: 100%;
			width: 50%;
		}

		.section2 {
			float: right;
			background-color: pink;
			height: 100%;
			width: 50%;
		}

		.section3 {
			clear: both;
			background-color: orange;
		}

{{/section}}

<h1>Book Inventory</h1>

	<div ng-controller="bookListCtrl">
		<h3>Filter Results</h3>

		Title
		<input type="text" ng-model="search.title"><br>

		Level
		<input type="text" ng-model="search.level.ILER"><br>

		Publisher
		<input type="text" ng-model="search.publisher"><br>

		Headwords
		<input type="text" ng-model="search.attributes.headwords"><br>

		Type
		<input type="text" ng-model="search.attributes.type"><br>

		<div ng-repeat="bookEntry in bookEntries | filter:search">
		<!--((search===null)?undefined:search):true-->
			<div class="entry">
				<div class="headerContainer">
					<div class="bookHead">
						<span class="title">\{{bookEntry.title}}/</span>
						<span class="author">\{{bookEntry.author}}</span>
					</div>
					<div class="buttons">
						<form class="form-horizontal" role="form" action="/book/entry" method="POST">
							<input type="hidden" name="_id" value=\{{bookEntry._id}}>
							<button class="update" type="submit">Update</button>
						</form>
						<form class="form-horizontal" role="form" action="/book/delete" method="POST" onsubmit="return confirm('Do you really want to delete this book')">
							<input type="hidden" name="_id" value=\{{bookEntry._id}}>
							<button class="delete" type="submit">Delete</button>
						</form>
					</div>
				</div>
				<div class="infoContainer">
					<div class="spacer"> </div>
					<div class="section1">
						<ul>
							<li><span class="label">Publisher: </span>\{{bookEntry.publisher}}</li>
							<li><span class="label">Series: </span>\{{bookEntry.series}}</li>
							<li><span class="label">ISBN: </span>\{{bookEntry.numbers.ISBN}}</li>
						</ul>
					</div>
					<div class="section2">
						<ul>
							<li><span class="label">Level: </span>\{{bookEntry.level.ILER}}</li>
							<li><span class="label">Headwords: </span>\{{bookEntry.attributes.headwords}}</li>
							<li><span class="label">Type: </span>\{{bookEntry.attributes.type}}</li>
							<li><span class="label">Genre: </span>\{{bookEntry.attributes.genre}}</li>
							<li><span class="label">CD: </span>\{{bookEntry.attributes.CD}}</li>
						</ul>
					</div>
					<div class="section3">
						<span class="label">Copies: </span>\{{bookEntry.numbers.book}}
					</div>
				</div>
			</div>
		</div>
	</div>


{{#section 'jcode'}}
/*
	$(".delete").click(function() {
		var entry = $(this).val()
		alert(entry)
		$.ajax({
			url: "/book/delete",
			type: "POST",
			dataType: "json",
			contentType: "application/json; charset=UTF-8",
			data: JSON.stringify({_id: entry})
		}).done(function() {
			location.reload();
		}).fail(function() {
			alert("FAIL")
		})
	})
*/
{{/section}}