{{#section 'css'}}

		.entry {
			margin-bottom: 15px;
			width: 500px;
		}
/*HEADER Container */
		.headerContainer {

			background-color: #011a2b;
		}

		.lev6 {
			background-color: grey;
		}
		.lev5 {
			background-color: pink;
		}
		.lev4 {
			background-color: green;
		}
		.lev3 {
			background-color: blue;
		}
		.lev2 {
			background-color: yellow;
		}
		.lev1 {
			background-color: brown;
		}



		.title {
			float: left;
			font-size: 20px;
			font-weight: bold;
		}

		.author {
			float:left;
		}

		.entry ul {
			list-style: none;
			margin-left: 10px;
			padding: 0px;
		}

		.entry li {
			padding: 0px;
			margin: 0px;
		}

		.entry .label {
			font-weight: bold;
		}
/* BOOK INFORMATION Container */
		.buttonContainer {
			background-color: #011a2b;
		}
		.infoContainer, .copiesContainer {
			background-color: #af8983;
		}

/* FILTERS Container */
	.filtersContainer {
		height: 740px;
	}
{{/section}}

<h1>Book Inventory</h1>

<div class="row">
	<div class="filtersContainer col-4 col-sm-3 col-md-3 float-sm-left float-md-left">
		<div class="filters">
			<label for="titleFilter" class="col-12 col-form-label">Title</label>
			<input type="text" class="col-12 col-form" id="titleFilter" ng-model="search.title"><br>

			<label for="authorFilter" class="col-12 col-form-label">Author</label>
			<input type="text" class="col-12 col-form" id="authorFilter" ng-model="search.author"><br>

			<label for="publisherFilter" class="col-12 col-form-label">Publisher</label>
			<input type="text" class="col-12 col-form" id="publisherFilter" ng-model="search.publisher"><br>

			<label for="seriesFilter" class="col-12 col-form-label">Series</label>
			<input type="text" class="col-12 col-form" id="seriesFilter" ng-model="search.series"><br>

			<label for="isbnFilter" class="col-12 col-form-label">ISBN</label>
			<input type="text" class="col-12 col-form" id="isbnFilter" ng-model="search.numbers.ISBN"><br>

			<label for="levelFilter" class="col-12 col-form-label">Level</label>
			<input type="text" class="col-12 col-form" id="levelFilter" ng-model="search.level.ILER"><br>

			<label for="headwordsFilter" class="col-12 col-form-label">Headwords</label>
			<input type="text" class="col-12 col-form" id="headwordsFilter" ng-model="search.attributes.headwords"><br>

			<label for="typeFilter" class="col-12 col-form-label">Type</label>
			<input type="text" class="col-12 col-form" id="typeFilter" ng-model="search.attributes.type"><br>

			<label for="genreFilter" class="col-12 col-form-label">Genre</label>
			<input type="text" class="col-12 col-form" id="genreFilter" ng-model="search.attributes.genre"><br>

			<label for="cddvdFilter" class="col-12 col-form-label">CD/DVD</label>
			<input type="text" class="col-12 col-form" id="cddvdFilter" ng-model="search.attributes.CD"><br>

			<label for="availableFilter" class="col-12 col-form-label">Available Copies</label>
			<input type="text" class="col-12 col-form" id="availableFilter" ng-model="search.availability.total"><br>
		</div>
	</div>

<!-- ng-if="search.title || search.author || search.publisher || search.series || search.numbers.ISBN || search.level.ILER || search.attributes.headwords || search.attributes.type || search.attributes.genre || search.attributes.CD || search.availability.total" -->
	<div class="pageContent col-12 col-sm-6 col-md-9 float-sm-right float-md-right" ng-controller="bookListCtrl">
		<div   ng-if="search.title || search.author || search.publisher || search.series || search.numbers.ISBN || search.level.ILER || search.attributes.headwords || search.attributes.type || search.attributes.genre || search.attributes.CD || search.availability.total" ng-repeat="bookEntry in bookEntries | filter:search | orderBy:'level.ILER'">
			<div class="col-4 col-sm-9 entry ">
				<div class="headerContainer row lev\{{bookEntry.level.ILER}}">
					<div class="bookHead">
						<span class="title col-12 col-sm-6 float-md-left">\{{bookEntry.title}}/</span>
						<span class="author col-12 col-sm-6  float-md-right">\{{bookEntry.author}}</span>
					</div>
				</div>
				<div class="buttonContainer row">
					<div class="update col-12 col-sm-6  float-md-left">
						<form class="form-horizontal" role="form" action="/book/entry" method="POST">
							<input type="hidden" name="_id" value=\{{bookEntry._id}}>
							<button class="updatebtn" type="submit">Update</button>
							</form>
					</div>
					<div class="delete col-12 col-sm-6  float-md-right">
						<form class="form-horizontal" role="form" action="/book/delete" method="POST" onsubmit="return confirm('Do you really want to delete this book')">
							<input type="hidden" name="_id" value=\{{bookEntry._id}}>
							<button class="deletebtn" type="submit">Delete</button>
							</form>
					</div>
				</div>
				<div class="infoContainer row">
					<div class="section1 col-12 col-md-6 float-md-left">
						<ul>
							<li><span class="label">Publisher: </span>\{{bookEntry.publisher}}</li>
							<li><span class="label">Series: </span>\{{bookEntry.series}}</li>
							<li><span class="label">ISBN: </span>\{{bookEntry.numbers.ISBN}}</li>
						</ul>
					</div>
					<div class="section2 col-12 col-md-6  float-md-right">
						<ul>
							<li><span class="label">Level: </span>\{{bookEntry.level.ILER}}</li>
							<li><span class="label">Headwords: </span>\{{bookEntry.attributes.headwords}}</li>
							<li><span class="label">Type: </span>\{{bookEntry.attributes.type}}</li>
							<li><span class="label">Genre: </span>\{{bookEntry.attributes.genre}}</li>
							<li><span class="label">CD: </span>\{{bookEntry.attributes.CD}}</li>
						</ul>
					</div>
				</div>
				<div class="copiesContainer row">
					<div class="section3 col-12 col-md-6  float-md-left">
						<ul>
							<li><span class="label">Copies: </span>\{{bookEntry.numbers.book}}</li>
						</ul>
					</div>
					<div class="section4 col-12 col-md-6  float-md-right">
						<ul>
							<li><span class="label">Total Copies: </span>\{{bookEntry.availability.total}}</li>
							<li><span class="label">Borrowed Copies: </span>\{{bookEntry.availability.checkouts}}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

{{#section 'jcode'}}

{{/section}}