{{#section 'css'}}

		div {
		    position: relative;
		}
		#search {
		    position: absolute;
		    top: 0;
		    left: 0;
		    z-index: 11;
		    background: transparent;
		    
		}
		#autocomplete {
		    position: absolute;    
		    top: 2px;
		    left: 1px; 
		    background: transparent;
		    z-index: 10;
		    border: 0px;
		}

		.checkouts li {
			padding: 0px;
			margin: 0px;
		}

		.checkouts .label {
			font-weight: bold;
		}
{{/section}}

<h1>Checkout List</h1>

{{#each bklist}}
	<div class="checkouts">
		<ul>
			<li><span class="label">Entry IDL</span> {{_id}}</li>
			<li><span class="label">Student:</span> {{student}}</li>
			<li><span class="label">Title:</span> {{title}}</li>
			<li><span class="label">Code:</span> <span class="codeid">{{code}}<span></li>
			<li><span class="label">Checkout Date:</span> {{checkoutDate}}</li>
			<li><span class="label">Due Date:</span> {{returnDate}}</li>
			<button class="return" name="return" type="button" value="{{_id}}">Return2</button>
			<button class="extend" name="extend" type="button" value="{{_id}}">Extend2</button>

			<!--a.btn.btn-default.pull-right(href='/location/#{location._id}/review/new') -->
		</ul>
	</div>
{{/each}}
{{#section 'jcode'}}

//NEED TO REMODEL THIS SECTION SO THAT EACH BOOK CAN BE RETURNED SEPARATELY OR ALL TOGETHER
	$(".extend").click(function() {
		var entry = $(this).val()
		$.ajax({
			url: "/book/checkout/extend",
			type: "POST",
			dataType: "json",
			contentType: "application/json; charset=UTF-8",
			data: JSON.stringify({_id: entry})
		}).done(function() {
			location.reload();
		}).fail(function() {
			alert("FAIL")
		})
	})

	$(".return").click(function() {
		var entry = $(this).val()
		var studid = $(this).parent().find('.studid').text();
		var codeid = parseInt($(this).parent().find('.codeid').text());
		alert(codeid)
		$.ajax({
			url: "/book/checkout/return",
			type: "POST",
			dataType: "json",
			contentType: "application/json; charset=UTF-8",
			data: JSON.stringify({_id: entry, code: codeid})
		}).done(function() {
			location.reload();
		}).fail(function() {
			alert("FAIL")
		})
	})







/*
		$(".extend").click(function(){
			//Collect variables from parent div
			var studid = $(this).parent().find('.studid').text();
			var codeid = parseInt($(this).parent().find('.codeid').text());

			//Send/Receive data from the server
			$.ajax({
				url: "/process-extend",
				type: "POST",
				dataType:"json",
				contentType: "application/json; charset=UTF-8",
				data: JSON.stringify({student: studid, code: codeid}),
			}).done(function() {
				alert("Extended")
			}).fail(function() {
				alert("FAIL")
			})			
		})

		$('.return').click(function(){
			//Set parent div as variable
			var placeholder = $(this).parent().remove();

			//Collect variables from parent div
			var studid = $(this).parent().find('.studid').text();
			var codeid = parseInt($(this).parent().find('.codeid').text());

			//Send/Receive data from the server
			$.ajax({
				url: "/process-rtrn2",
				type: "POST",
				dataType:"json",
				contentType: "application/json; charset=UTF-8",
				data: JSON.stringify({student: studid, code: codeid}),
			}).done(function() {
				placeholder
			}).fail(function() {
				alert("FAIL")
			})
		})
*/
{{/section}}
