{{#section 'css'}}
		.entry {
			margin-bottom: 15px;
		}
		.entry ul {
			list-style: none;
			margin-left: 10px;
			padding: 0px;
		}
		.entry li {
			padding: 0px;
			margin: 0px;
		}

		.headerContainer, .dateContainer {
			background-color: #011a2b;
		}
		.infoContainer {
			background-color: #af8983;
		}
/* FILTERS Container */
	.filtersContainer {
		height: 150px;
	}
{{/section}}

<h1>Checkout Archive</h1>
<div class="row">
	<div class="filtersContainer col-4 col-sm-3 col-md-3 float-sm-left float-md-left">
		<div class="filters">
			<label for="idFilter" class="col-12 col-form-label">Student ID</label>
			<input type="text" class="col-12 col-form" id="idFilter" ng-model="search.student.studentId"></input><br>
			<label for="phoneFilter" class="col-12 col-form-label">Phone</label>
			<input type="text" class="col-12 col-form" id="phoneFilter" ng-model="search.student.studentPhone"></input><br>
		</div>
	</div>

<!-- -->
	<div class="pageContent col-12 col-sm-6 col-md-9 float-sm-right float-md-right" ng-controller="chkoutArchiveListCtrl">
		<div ng-if="search.student.studentId|| search.student.studentPhone" ng-repeat="archiveEntry in archiveEntries">
			<div class="col-4 col-sm-9 entry" id="\{{archiveEntry._id}}">
				<div class="headerContainer row">
					<div class="studentDiv col-12">
						<span class="student">\{{archiveEntry.student.studentId}}</span>
					</div>
				</div>
				<div class="dateContainer row">
					<div class="dueDiv col-6 float-md-left">
						<ul>
							<li><span class="label">Date Returned:</span> \{{archiveEntry.dates.archived}}</li>
						<ul>
					</div>
					<div class="dueDiv col-6 float-md-right">
						<ul>
							<li><span class="label">Original Due Date:</span> \{{archiveEntry.dates.returnDate}}</li>
						<ul>
					</div>
				</div>

				<div class="infoContainer row">
					<div class="contactInformation col-6 float-md-left">
						<ul>
							<li><span class="label">Contact Number:</span> \{{archiveEntry.student.studentPhone}}</li>
							<li><span class="label"> Email: </span> \{{archiveEntry.student.studentEmail}}</li>
							<li><span class="label">Teacher:</span> \{{archiveEntry.student.teacher}}</li>
						</ul>
					</div>
					<div class="bookInformation col-6 float-md-right">
						<div ng-repeat="book in archiveEntry.books">
							<div class="bookEntry">
								<ul>
									<li><span class="label">Title:</span> \{{book.title}}</li>
									<li><span class="label">Code:</span> <span class="codeid">\{{book.code}}<span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{{#section 'jcode'}}

{{/section}}
