{{#section 'css'}}

		.entry {
			margin-bottom: 15px;
			background-color: red;
			width:500px;
		}
		.entry .label {
			font-weight: bold;
		}

		.entry ul {
			list-style: none;
			margin-left: 10px;
			padding: 0px;
		}
		.entry li {
			padding: 0px;
			margin: 0px;
		}
		.headerContainer, .dateContainer {
			background-color: #011a2b;
		}
		.infoContainer, .buttonContainer {
			background-color: #af8983;
		}


/* FILTERS Container */
	.filtersContainer {
		height: 150px;
	}
{{/section}}

<h1>Checkout List</h1>

<div class="row">
	<div class="filtersContainer col-4 col-sm-3 col-md-3 float-sm-left float-md-left">
		<div class="filters">
			<label for="idFilter" class="col-12 col-form-label">Student ID</label>
			<input type="text" class="col-12 col-form" id="idFilter" ng-model="search.student.studentId"></input><br>
			<label for="phoneFilter" class="col-12 col-form-label">Phone</label>
			<input type="text" class="col-12 col-form" id="phoneFilter" ng-model="search.student.studentPhone"></input><br>
		</div>
	</div>

	<div class="pageContent col-12 col-sm-6 col-md-9 float-sm-right float-md-right" ng-controller="chkoutListCtrl">
		<div ng-repeat="chkoutEntry in chkoutEntries | filter: search | orderBy:'dates.returnDate':true">
			<div class="col-4 col-sm-9 entry" id="\{{chkoutEntry._id}}">
				<div class="headerContainer row">
					<div class="studentDiv col-12 col-md-6 float-md-left">
						<span class="student">\{{chkoutEntry.student.name}} / \{{chkoutEntry.student.studentId}}</span>
					</div>
				</div>
				<div class="dateContainer row">
					<div class="checkoutDiv col-12 col-md-7 float-md-left">
						<span class="label">Checkout Date:</span> \{{chkoutEntry.dates.checkoutDate}}
					</div>
					<div class="dueDiv col-12 col-md-5 float-md-right">
						<span class="label">Due Date:</span> \{{chkoutEntry.dates.returnDate}}
					</div>
				</div>
				<div class="infoContainer row">
					<div class="contactInformation col-12 col-sm-6 float-md-left">
						<ul>
							<li><span class="label">Phone:</span> \{{chkoutEntry.student.studentPhone}}</li>
							<li><span class="label"> Email: </span> \{{chkoutEntry.student.studentEmail}}</li>
							<li><span class="label">Teacher:</span> \{{chkoutEntry.student.teacher}}</li>
						</ul>
					</div>
					<div class="bookInformation col-12 col-sm-6 float-md-right">
						<div ng-repeat= "book in chkoutEntry.books">
							<div class="bookEntry">
								<ul>
									<li><span class="label">Title:</span> \{{book.title}}</li>
									<li><span class="label">Code:</span> <span class="codeid">\{{book.code}}<span></li>
									<li><span class="label">Publish:</span> \{{book.publisher}}</li>
									<li><span class="label">Level:</span> \{{book.level}}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="buttonContainer row">
					<div class="return col-12 col-sm-6 float-md-left">
						<form class="form-horizontal" role="form" action="/book/checkout/return" method="POST" onsubmit="return confirm('Do you really want to return these books?')">
							<input type="hidden" name="_id" value=\{{chkoutEntry._id}}>
							<input type="hidden" name="books" value=\{{chkoutEntry}}>
								<button class="returnbtn" name="return" type="submit" >Return</button>
						</form>
					</div>
					<div class="extend col-12 col-sm-6 float-md-right">
						<form class="form-horizontal" role="form" action="/book/checkout/extend" method="POST">
							<input type="hidden" name="_id" value=\{{chkoutEntry._id}}>
							<input type="hidden" name="books" value=\{{chkoutEntry}}>
							<button class="extendbtn" name="extend" type="submit">Extend</button>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>







<!--
		<div ng-if="search.student.studentId || search.student.studentPhone" ng-repeat="chkoutEntry in chkoutEntries | filter: search | orderBy:'dates.returnDate':true">
			<div class="checkouts" id="\{{chkoutEntry._id}}">
			\{{chkoutEntry}}
				<div class="entry">
					<div class="headerContainer">
						<div class="studentDiv">
							<span class="student">\{{chkoutEntry.student.studentId}}</span>
						</div>
						<div class="dueDiv">
							<span class="label">Due Date:</span> \{{chkoutEntry.dates.returnDate}}
						</div>
					</div>
					<div class="infoContainer">
						<div class="contactInformation">
							<ul>
								<li><span class="label">Contact Number:</span> \{{chkoutEntry.student.studentPhone}}</li>
								<li><span class="label"> Email: </span> \{{chkoutEntry.student.studentEmail}}</li>
								<li><span class="label">Teacher:</span> \{{chkoutEntry.student.teacher}}</li>
							</ul>
						</div>
						<div class="bookInformation">
							<div ng-repeat= "book in chkoutEntry.books">
								<div class="bookEntry">
									<ul>
										<li><span class="label">Title:</span> \{{book.title}}</li>
										<li><span class="label">Code:</span> <span class="codeid">\{{book.code}}<span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="buttons">
						<div class="return">
							<form class="form-horizontal" role="form" action="/book/checkout/return" method="POST" onsubmit="return confirm('Do you really want to return these books?')">
								<input type="hidden" name="_id" value=\{{chkoutEntry._id}}>
								<input type="hidden" name="books" value=\{{chkoutEntry}}>
								<button class="returnbtn" name="return" type="submit" >Return</button>
							</form>
						</div>
						<div class="extend">
							<form class="form-horizontal" role="form" action="/book/checkout/extend" method="POST">
								<input type="hidden" name="_id" value=\{{chkoutEntry._id}}>
								<button class="extendbtn" name="extend" type="submit">Extend</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
-->


{{#section 'jcode'}}

{{/section}}
