{{#section 'css'}}

		div {
		    position: relative;
		}
		.checkouts {
			margin-bottom: 50px;
			width: 500px;
			height: 220px;
			background-color: red;
		}
		.checkouts li {
			padding: 0px;
			margin: 0px;
		}
		.checkouts .label {
			font-weight: bold;
		}
		.return {
			float: left;
		}
		.extend {
			float: right;
		}
		.contactInformation {
			float: left;
		}
		.bookInformation {
			height: 150px;
			float: right;
		}
		.entry ul {
			list-style: none;
			margin-left: 10px;
			padding: 0px;
		}
		.entry li {
			padding: 0px;
			margin: 0px;
		}
		.date {
			clear: both;
		}
		.buttons {
			clear: both;
		}
		.headerContainer {
			clear: both;
		}
		.studentDiv {
			float: left;
		}
		.dueDiv {
			float: right;
		}
		.infoContainer {
			clear: both;
		}
{{/section}}

<h1>Checkout Archive</h1>

	<div class="filters">
		<h3>Filter</h3>
		Student ID
		<input type="text" ng-model="search.student.studentId"></input><br>
		Phone
		<input type="text" ng-model="search.student.studentPhone"></input><br>
	</div>

<!--  
ng-if="search.student.studentId || search.student.studentPhone"
Need to send checkout id and book code to the server -->

	<div class="pageContent" ng-controller="chkoutArchiveListCtrl">
		<div ng-repeat="archiveEntry in archiveEntries">
			<div class="checkouts" id="\{{archiveEntry._id}}">
				<div class="entry">
					<div class="headerContainer">
						<div class="studentDiv">
							<span class="student">\{{archiveEntry.student.studentId}}</span>
						</div>
						<div class="dueDiv">
							<span class="label">Due Date:</span> \{{archiveEntry.dates.returnDate}}
						</div>
					</div>
					<div class="infoContainer">
						<div class="contactInformation">
							<ul>
								<li><span class="label">Contact Number:</span> \{{archiveEntry.student.studentPhone}}</li>
								<li><span class="label"> Email: </span> \{{archiveEntry.student.studentEmail}}</li>
								<li><span class="label">Teacher:</span> \{{archiveEntry.student.teacher}}</li>
							</ul>
						</div>
						<div class="bookInformation">
							<div ng-repeat= "book in archiveEntry.books">
								<div class="bookEntry">
									<ul>
										<li><span class="label">Title:</span> \{{book.title}}</li>
										<li><span class="label">Code:</span> <span class="codeid">\{{book.code}}<span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{{#section 'jcode'}}

{{/section}}
