<h1>Update</h1>
<form class="form-horizontal" role="form" action="/process-update?form=updateinv" method="POST">
	<input type="hidden" name="_csrf">
	{{!Book code}}
</form>

{{#each bookentry}}

<form class="form-horizontal" role="form" action="/book/entry/update" method="POST">
<h2>Book Information</h2>
	<input type="hidden" name="bookId" value={{_id}}>
		{{! Book Title }}
		<div class="form-group">
			<label for="fieldTitle" class="control-label">Title</label>
			<div>
				<input type="text" class="form-control" required id="fieldTitle" name="title" value="{{title}}">
			</div>
		</div>

		{{! Author }}
		<div class="form-group">
			<label for="fieldAuthor" class="control-label">Author</label>
			<div>
				<input type="text" class="form-control" required id="fieldAuthor" name="author" value="{{author}}">
			</div>
		</div>

		{{! Publisher }}
		<div class="form-group">
			<label for="publisher" class="control-label">Publisher</label>
			<div>
				<input type="text" class="form-control" required id="publisher" name="pub" value="{{publisher}}">
			</div>
		</div>

		{{! Publisher Series}}
		<div class="form-group">
			<label for="publisherSeries" class="control-label">Publisher Series</label>
			<div>
				<input type="text" class="form-control" required id="publisherSeries" name="pubSeries" value="{{series}}">
			</div>
		</div>


		<div class="form-group">
			<label for="levelILER" class="control-label">ILER Level</label>
			<div>
			<select name ="level" id="level" value="{{level.ILER}}">
				<option value=1>1</option>
				<option value=2>2</option>
				<option value=3>3</option>
				<option value=4>4</option>
				<option value=5>5</option>
				<option value=6>6</option>
				<option value=7>NA</option>
			</select>
			</div>
		</div>



<h2>Book Codes</h2>
		{{! Number }}
		<div class="form-group">
			<label for="fieldNumber" class="control-label">ILER Book Number</label>
			<div>
				<input type="text" class="form-control" required id="fieldNumber" name="number" value="{{numbers.book}}">
			</div>
		</div>

		{{! ISBN }}
		<div class="form-group">
			<label for="fieldISBN" class="control-label">ISBN</label>
			<div>
				<input type="text" class="form-control" required id="fieldISBN" name="isbn" value="{{numbers.ISBN}}">
			</div>
		</div>

<h2>Book Attributes</h2>

		{{! Headwords }}
		<div class="form-group">
			<label for="headwords" class="control-label">Headwords</label>
			<div>
				<input type="text" class="form-control" required id="headwords" name="head" value="{{attributes.headwords}}">
			</div>
		</div>	

		{{! Graded/Non-graded }}
		{{!<div class="form-group">
			<label for="bkType" class="control-label">Graded/Non-Graded</label>
			<div>
				<input type="text" class="form-control" required id="bkType" name="type">
			</div>
		</div>}}
		<div class="form-group">
			<label for="bkType" class="control-label">Graded/Non-Graded</label>
			<div>
				<select name="type" id="type" value="{{attributes.type}}">
					<option value="graded">Graded</option>
					<option value="non-graded">Non-graded</option>
				</select>
			</div>
		</div>
		
		{{! Genre }}
		<div class="form-group">
			<label for="fieldGenre" class="control-label">Genre</label>
			<div>
				<input type="text" class="form-control" required id="fieldGenre" name="genre" value="{{attributes.genre}}">
			</div>
		</div>

		{{! CD/No CD }}
		{{!<div class="form-group">
			<label for="CDInclude" class="control-label">CD/No CD</label>
			<div>
				<input type="text" class="form-control" required id="CDInclude" name="cd">
			</div>
		</div>}}
		<div class="form-group">
			<label for="CDInclude" class="control-label">CD/DVD Available</label>
			<div>
				<select name ="cd" id="cd" value="{{attributes.CD}}">
					<option value="yes">Yes</option>
					<option value="no">No</optiion>
				</select>
			</div>
		</div>

<h2>Number of Copies</h2>


		{{! Availability Total }}
		<div class="form-group">
			<label for="totalBooks" class="control-label">Number of Copies</label>
			<div>
				<input type="text" class="form-control" required id="totalBooks" name="total" value="{{availability.total}}">
			</div>
		</div>

		{{! Submission Button }}
		<div class="form-group">
			<div>
				<button type="submit">Update</button>
			</div>
		</div>
</form>
	</div>
{{/each}}


{{#section 'jcode'}}
		//Convert String Array to Array
		$(function() {

			var level = "{{bklevel}}";
			var type = "{{bktype}}";
			var cd = "{{bkcd}}";
			$('#level').val(level);
			$('#type').val(type);
			$('#cd').val(cd);
				//var element = document.getElementById('cd');
				//element.value = cd
		})





{{/section}}