{{#section 'css'}}
	ul {
		list-style: none;
	}
	.entry li {
		padding: 0px;
		margin: 0px;
	}
	.label {
		font-weight: bold;
	}
	.name {
		font-size: 20px;
	}
	.entry {
		margin-bottom: 15px;
	}
	.headerContainer {
		/* Good Dull shade of Brown background-color: #8a604f; */
		background-color: #011a2b;
		height: 30px;
	}
	.infoContainer {
		/* Good Grey/Pink color background-color: #af8983; */
		background-color: #af8983;
	}
	.filtersContainer {
		height: 280px;
	}
	.update {
		text-align: right;
	}
{{/section}}

<h1>Users</h1>

<div class="row">
	<div class="filtersContainer col-4 col-sm-3 col-md-3 float-sm-left float-md-left">
		<div class="filters">
			<label for="nameFilter" class="col-12 col-form-label"> Student</label><br>
			<input type="text" class="col-12 col-form" id="nameFilter" ng-model="search.name"></input><br>

			<label for="idFilter" class="col-12 col-form-label"> Student ID</label><br>
			<input type="text" class="col-12 col-form" id="idFilter" ng-model="search.idnumber"></input><br>

			<label for="phoneFilter" class="col-12 col-form-label"> Phone</label><br>
			<input type="text" class="col-12 col-form" id="phoneFilter" ng-model="search.phone"></input><br>

			<label for="emailFilter" class="col-12 col-form-label">Email</label><br>
			<input type="text" class="col-12 col-form" id="emailFilter" ng-model="search.email"></input>
		</div>
	</div>


	<div class="pageContent col-12 col-sm-6 col-md-9 float-sm-right float-md-right" ng-controller="userListCtrl">
		<div ng-if="search.name || search.idnumber || search.phone || search.email" ng-repeat="userEntry in userEntries | filter: search | orderBy: 'idnumber'">
			<div class="col-4 col-sm-7 entry">
				<div class="headerContainer row">
					<div class="nameContainer col-12 col-sm-6  float-md-left">
						<ul>
							<li><span class="name">\{{userEntry.name}}</span></li>
						</ul>
					</div>
					<div class="update col-12 col-sm-6  float-md-right">
						<form class="form-horizontal" role="form" action="/user/edit" method="POST">
							<input type="hidden" name="_id" value=\{{userEntry._id}}>
							<button class="updatebtn" type="submit">Update</button>
						</form>
					</div>
				</div>

				<div class="infoContainer row">
					<ul>
						<li><span class="label">Id Number:</span> \{{userEntry.idnumber}}</li>
						<li><span class="label">Phone:</span> \{{userEntry.phone}}</li>
						<li><span class="label">Email:</span> \{{userEntry.email}}</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
</div>